@media (prefers-color-scheme: dark) {
        .dark\:bg-gray-700 {
            --tw-bg-opacity: 1;
            background-color: white!important;
        }
    }

@media (prefers-color-scheme: dark) {
        .dark\:border-gray-600 {
            --tw-border-opacity: 1;
            border-color: white!important;
        }
    }

@media (prefers-color-scheme: dark) {
        .dark\:bg-blue-600 {
            background-color: #3b83bd!important;
        }
    }

input::placeholder{
    color: #3b83bd!important;
}
input{
    color: #3b83bd!important;
}


textarea::placeholder{
    color: #3b83bd!important;
}
textarea{
    color: #3b83bd!important;
}

  
