@media (prefers-color-scheme: dark) {
        .dark\:bg-gray-700 {
            --tw-bg-opacity: 1;
            background-color: white!important;
        }
    }

@media (prefers-color-scheme: dark) {
        .dark\:border-gray-600 {
            --tw-border-opacity: 1;
            border-color: white!important;
        }
    }

@media (prefers-color-scheme: dark) {
        .dark\:bg-blue-600 {
            background-color: #3b83bd!important;
        }
    }

input::placeholder{
    color: #3b83bd!important;
}
input{
    color: #3b83bd!important;
}


textarea::placeholder{
    color: #3b83bd!important;
}
textarea{
    color: #3b83bd!important;
}
#button:focus {
    outline: none!important;
    box-shadow: none!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)!important;
    background-color: #286699!important;
}