#text {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid transparent;
    animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @-webkit-keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #3b83bd;
    }
  }
  
  @-webkit-keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #3b83bd;
    }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }