#link {
  position: relative;
  text-decoration: none;
}

#link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px; 
  background-color: #3b83bd; 
  transition: width 0.3s ease; 
}

#link:hover::before {
  width: 100%;
}

#active{
  border-bottom: 3px solid #3b83bd;
}