.container {
    position: relative;
    background: black;
    max-width: 650px;
    min-width: 650px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
   }
  
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 340px;
    height: 400px;
    background: red;
    margin: 5px;
    transition: transform 0.5s, background 0.3s ease-in-out;
  
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transform: translate(-170% + (120% * ($i - 1)), -50%);
      }
    }
  }
  
  .active {
    background: yellow;
    transform: translate(-50%, -50%) scale(1.1) !important;
  }
  
  .next {
    .card {
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transform: translate(-290% + (120% * ($i - 1)), -50%);
        }
      }
    }
  }
  
  .reset {
    .card {
      transition: none;
      .card {
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            transform: translate(-170% + (120% * ($i - 1)), -50%);
          }
        }
      }
    }
  }